<div class="main-column all-collections">

  <section class="{{ collection.handle }} clearfix">
    <div class="section-details clearfix">
      <h2 class="section-title">Product Collections</h2>
    </div>

    <ul id="collection-grid" class="product-grid">
    {% for collection in collections %}
    {% unless collection.handle == 'frontpage' or collection.handle == 'all' %}
      {% include 'collection-grid-item' %}
    {% endunless %}
    {% endfor %}
    </ul>

  </section>

</div>
