  {% if shop.products_count < 1 %}

  {% comment %}
  This only appears if a shop has no products. 
  This scenario should only occur when a Shopify store is first created. 
  {% endcomment %}

  <div class="no-products">

    <div class="no-products-post-it">
      <div class="no-products-post-it-content">
        <em>Welcome to your store!</em>
        <p>It looks like you don't have any products yet, would you like to <a href="/admin/products/new">create some now</a>?</p>
      </div>
    </div>

    <a class="no-products-overlay" href="/admin/products/new"></a>

    <!-- Placeholder featured products: visible when shop has 0 products -->
    <section class="products-prominent clearfix diagonal-divider">
      <ul class="product-grid wide" id="featured-grid">
        <li>
          <a class="product-photo placeholder" href="/admin/products/new"></a>
          <div class="product-information">
            <span class="product-price">0.00</span>
            <h3>Product</h3>
          </div>
        </li>
        <li>
          <a class="product-photo placeholder" href="/admin/products/new"></a>
          <div class="product-information">
            <span class="product-price">0.00</span>
            <h3>Product</h3>
          </div>
        </li>
        <li class="last-in-row">
          <a class="product-photo placeholder" href="/admin/products/new"></a>
          <div class="product-information">
            <span class="product-price">0.00</span>
            <h3>Product</h3>
          </div>
        </li>
      </ul>
    </section>

    <!-- Placeholder collection: visible when shop has 0 products -->
    <section class="diagonal-divider clearfix">
      <header class="section-details clearfix">
        <h1 class="section-title">Product Collection</h1>
      </header>    
      <ul class="product-grid" id="secondary-grid">
        <li>
          <div class="product-grid-item">
            <a class="product-link placeholder"><span class="product-price">0.00</span></a>
            <div class="product-information">
              Product                    
            </div>              
          </div>   
        </li> 
        <li>
          <div class="product-grid-item">
            <a class="product-link placeholder"><span class="product-price">0.00</span></a>
            <div class="product-information">
             Product               
            </div>              
          </div>   
        </li> 
        <li>
          <div class="product-grid-item">
            <a class="product-link placeholder"><span class="product-price">0.00</span></a>
            <div class="product-information">
              Product                    
            </div>              
          </div>   
        </li> 
        <li class="last-in-row">
          <div class="product-grid-item">
            <a class="product-link placeholder"><span class="product-price">0.00</span></a>
            <div class="product-information">
              Product                  
            </div>              
          </div>   
        </li>       
      </ul>      
    </section>

  </div>
  {% endif %}
