{% if settings.share_prod_on_twitter or settings.share_prod_on_facebook or settings.share_prod_on_googleplus or settings.share_prod_on_pinterest %}

<div id="sharing">

<ul style="width:500px; overflow:visible;">

  {% if settings.share_prod_on_twitter %}
  <li style="width:80px">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
  </li>
  {% endif %}
  
  {% if settings.share_prod_on_pinterest %}
  <li style="margin-left:10px; width:80px">
    <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&description={{ product.title | strip_html | escape | replace: ' ', '%20' }}&media={{ product.featured_image | product_img_url: 'original' }}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  </li>
  {% endif %}

  {% if settings.share_prod_on_facebook %}
  <li>
    <div id="fb-root"></div>
    <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>          
  </li>
  {% endif %}

  {% if settings.share_prod_on_googleplus %}
  <li style="margin-left: 20px">
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="90"></div>
  </li>
  {% endif %}
  
</ul>

</div>

<style>
.fb_iframe_widget iframe { z-index: 4000 }
</style>

<!-- fb like button -->
<div id="fb-root"></div>
<script defer>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- +1 button -->
<script defer type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- tweet btn -->
<script defer type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

{% endif %}