{% if settings.twitterwidget_visible %}
<section class="widget widget-text" id="widget-twitter">
	<h3>{{ settings.twitterwidget_title }}</h3>
	<div class="tweets-wrapper"></div>
</section>
{% endif %}
