{% if settings.textwidget_visible == true %}
<section class="widget widget-text">
	<h3>{{ settings.textwidget_title }}</h3>
	<div class="widget-content">
		{{ settings.textwidget_content }}
	</div>
</section>
{% endif %}
