<div id="col-main" class="content">
  <h1 class="heading">Page not found <span class="not_found">404</span></h1>
  <p>Perhaps you want to return to the <a href="/">home page</a> or <a href="/search">try a search</a>.</p>
</div>