<div id="col-main" class="{{ collection.handle }}">

  <section class="diagonal-divider clearfix">
    <header class="section-details clearfix">
      <h2 class="section-title">{{ collection.title }}</h2>
      {% if collection.description != empty %}
        <div class="description content">{{ collection.description }}</div>
      {% endif %}
    </header>

    {% paginate collection.products by 12 %}
      {% if collection.products.size > 0 %}
    
        <ul class="product-grid clearfix">
        {% for product in collection.products %}
          <li{% cycle '', '', '', ' class="last-in-row"' %}>
            {% include 'product-grid-item' %}
          </li>
        {% endfor %}
        </ul>

        {% include 'pagination' %}
      
      {% else %}    
        <strong>No products found in this collection.</strong>
      {% endif %}
    {% endpaginate %}
  </section>
  
</div> <!-- /#col-main -->