<div id="col-main" class="content">

  <div id="page-header">
    {% include 'breadcrumb' %}          
    <h2 id="page-title">{{ page.title | escape }}</h2>	
  </div>

  {{ page.content }}
  
</div><!-- /#col-main -->