<div id="col-main" class="content">

  <div id="page-header">
    {% include 'breadcrumb' %}          
    <h1 id="page-title">{{ page.title }}</h1>	
  </div>

  {{ page.content }}
  
</div><!-- /#col-left -->

{% include 'col-widgets' %}